* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-image: url(../images/fundo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.nave {
    margin: 2rem;
    background-color: transparent;
    width:50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13rem;
}

img {
    width: 3rem;
    background-color: transparent;
    position: absolute;
}